<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onlinequiz</title>
    <link rel="stylesheet" href="css/admin.css">

</head>

<body>

    <div class="main-div">
        <%- include('header');%>


            <section class="division">
                <!-- <div class="inner-class"> -->
                <div class="inner1-div">
                    <center>
                        <h2 class="select1">CREATE QUIZ</h2>
                    </center>
                    <center> <img src="/images/questions.png" alt="questions.png"></center>
                    <a href="/entersub">
                        <center><button id="button1">START</button>
                    </a>
                    </center>
                </div>
                <div class="inner2-div">
                    <center>
                        <h2 class="select2">QUIZ RESULTS</h2>
                    </center>

                    <center> <img src="/images/results.png" alt="questions.png"></center>
                    <a href="/viewresult.html">
                        <center><button id="button2">START</button>
                    </a>
                    </center>
                </div>
    </div>
    </section>
    </div>

    <!-- <script src="index.js"></script> -->
</body>

</html>