<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attempt quiz</title>
    <link rel="stylesheet" href="css/attemptquiz.css">
</head>

<body>
    <div class="main">
        <%- include('header');%>
    </div>

    <% if (data.length > 0) { %>
    <table class="table">
        <thead class="head">
            <tr>
                <th>Sr No.</th>
                <th>Subject</th>

                <th>Attempt</th>
            </tr>
        </thead>
        <tbody>
                <% for(var i=0;i < data.length; i++) { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><p><%= data[i].title %></p></td>
                    <td><a href="/quiz/<%= data[i].quizId %>">Take Quiz</a></td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <% } else { %>
        <p>No quiz found!</p>
    <% } %>
    <!-- </div> -->
    </div>
    <!-- </div> -->
</body>

</html>