<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attempt quiz</title>
    <link rel="stylesheet" href="css/attemptquiz.css">
</head>

<body>
    <div class="main">
        <%- include('header');%>
    </div>

    <table class="table">
        <thead class="head">
            <tr>
                <th>Sr No.</th>
                <th>Subject</th>

                <th>Attempt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td> <input type="text" placeholder="SUBJECT 1" class="input_field"></td>

                <td><a href="">Take Quiz</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td> <input type="text" placeholder="SUBJECT 1" class="input_field"></td>

                <td><a href="">Take Quiz</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td> <input type="text" placeholder="SUBJECT 1" class="input_field"></td>
                <!-- <td>10/10/10</td>
                    <td>00:00</td> -->
                <td><a href="">Take Quiz</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td> <input type="text" placeholder="SUBJECT 1" class="input_field"></td>
                <!-- <td>10/10/10</td>
                    <td>00:00</td> -->
                <td><a href="">Take Quiz</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td> <input type="text" placeholder="SUBJECT 1" class="input_field"></td>
                <!-- <td>10/10/10</td>
                    <td>00:00</td> -->
                <td><a href="">Take Quiz</a></td>
            </tr>
        </tbody>
    </table>
    <!-- </div> -->
    </div>
    <!-- </div> -->
</body>

</html>