<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/play.css">
    <title>PLAY</title>
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="game">
                <input class="que" type="text" placeholder="1.This is a question.">
                <form class="op" action="">
                    <label for="">A.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION1"><br><br>
                    <label for="">B.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION2"><br><br>
                    <label for="">C.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION3"><br><br>
                    <label for="">D.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION4"><br><br>
                </form>
            </div>
        </div>

        <!-- QUESTION2 -->
        <div class="container">
            <div class="game">
                <input class="que" type="text" placeholder="2.This is a question.">
                <form class="op" action="">
                    <label for="">A.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION1"><br><br>
                    <label for="">B.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION2"><br><br>
                    <label for="">C.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION3"><br><br>
                    <label for="">D.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION4"><br><br>
                </form>
            </div>
        </div>
        <!-- QUESTION3 -->
        <div class="container">
            <div class="game">
                <input class="que" type="text" placeholder="3.This is a question.">
                <form class="op" action="">
                    <label for="">A.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION1"><br><br>
                    <label for="">B.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION2"><br><br>
                    <label for="">C.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION3"><br><br>
                    <label for="">D.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION4"><br><br>
                </form>
            </div>
        </div>
        <!-- QUESTION4 -->
        <div class="container">
            <div class="game">
                <input class="que" type="text" placeholder="4.This is a question.">
                <form class="op" action="">
                    <label for="">A.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION1"><br><br>
                    <label for="">B.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION2"><br><br>
                    <label for="">C.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION3"><br><br>
                    <label for="">D.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION4"><br><br>
                </form>
            </div>
        </div>
        <!-- QUESTION5 -->
        <div class="container">
            <div class="game">
                <input class="que" type="text" placeholder="5.This is a question.">
                <form class="op" action="">
                    <label for="">A.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION1"><br><br>
                    <label for="">B.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION2"><br><br>
                    <label for="">C.</label>
                    <input type="radio" name="ops"> <input class="options" type="text" placeholder="OPTION3"><br><br>
                    <label for="">D.</label>
                    <input type="radio"> <input class="options" type="text" placeholder="OPTION4"><br><br>
                </form>
            </div>
        </div>
    </div>
    <div>
        <center><button class="button"> <a href="https://youtu.be/-nmj-Hdo_Z8" style="text-decoration: none;">SUBMIT</a>
            </button></center>
    </div>
</body>

</html>