<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/viewquiz.css">
    <title>PLAY</title>
</head>

<body>
    <div class=" main-container ">
        <form class="op " action=" ">

            <div class="container ">
                <center>
                    <p class="dhinchak ">ENTER THE QUIZ TITLE</p>
                </center>
                <textarea placeholder="THE QUIZ TITLE WILL GO HERE " class="que " cols="8 " rows="3 "></textarea>
            </div>


            <div class="container ">
                <div class="game ">
                    <textarea placeholder="1.QUE 1 WILL GO HERE " class="que " cols="8 " rows="3 "></textarea>
                    <label for=" ">A.</label>
                    <input type="radio" name="ops "> <br><br>
                    <label for=" ">B.</label>
                    <input type="radio" name="ops "> <br><br>
                    <label for=" ">C.</label>
                    <input type="radio" name="ops "> <br><br>
                    <label for=" ">D.</label>
                    <input type="radio" name="ops "><br><br>
                </div>
            </div>

            <!-- QUESTION2 -->
            <div class="container ">
                <div class="game ">
                    <textarea placeholder="2.QUE 2 WILL GO HERE " class="que " cols="8 " rows="3 "></textarea>
                    <label for=" ">A.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION1 "><br><br>
                    <label for=" ">B.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION2 "><br><br>
                    <label for=" ">C.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION3 "><br><br>
                    <label for=" ">D.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION4 "><br><br>
                </div>
            </div>
            <!-- QUESTION3 -->
            <div class="container ">
                <div class="game ">
                    <textarea placeholder="3.QUE 3 WILL GO HERE " class="que " cols="8 " rows="3 "></textarea>
                    <label for=" ">A.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION1 "><br><br>
                    <label for=" ">B.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION2 "><br><br>
                    <label for=" ">C.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION3 "><br><br>
                    <label for=" ">D.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION4 "><br><br>
                </div>
            </div>
            <!-- QUESTION4 -->
            <div class="container ">
                <div class="game ">
                    <textarea placeholder="4.QUE 4 WILL GO HERE " class="que " cols="8 " rows="3 "></textarea>
                    <label for=" ">A.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION1 "><br><br>
                    <label for=" ">B.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION2 "><br><br>
                    <label for=" ">C.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION3 "><br><br>
                    <label for=" ">D.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION4 "><br><br>
                </div>
            </div>
            <!-- QUESTION5 -->
            <div class="container ">
                <div class="game ">
                    <textarea placeholder="5.QUE 5 WILL GO HERE " class="que " cols="8 " rows="3 "></textarea>
                    <label for=" ">A.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION1 "><br><br>
                    <label for=" ">B.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION2 "><br><br>
                    <label for=" ">C.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION3 "><br><br>
                    <label for=" ">D.</label>
                    <input type="radio" name="ops "> <input class="options " type="text " placeholder="OPTION4 "><br><br>
                </div>
            </div>
            <div>
                <center>
                    <button type="submit " class="button "> <a href="https://youtu.be/-nmj-Hdo_Z8 "
                            style="text-decoration: none; ">SUBMIT</a>
                    </button>
                </center>
            </div>

        </form>
    </div>
</body>

</html>