* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/images/bcgd.jpg');
    background-color: rgb(235, 230, 230);
    background-size: cover;
}

.main {
    border-radius: 100px;
    /* margin-top: 90px; */
}


/* .profile{
    padding: 25px;
    height: fit-content;
    width: fit-content;
    float: left;
    font-size: 17px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    background-color:white;
} */

.table {
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    /* padding:0px 40px; */
    border-collapse: collapse;
    margin: 68px 450px 0;
    font-size: 20px;
    min-width: 300px;
    box-shadow: 10 10 10 10px rgba(1, 1, 1, 1);
}

.table thead tr {
    border-radius: 20px;
    padding: 10px 40px;
    background-color: orange;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
}

.table th,
.table td {
    text-align: center;
    padding: 10px 40px;
    border-color: rgb(0, 0, 0);
}

.table tbody tr {
    border-bottom: 1px solid #979888;
}

.table tbody tr:nth-of-type(even) {
    background-color: #eae6e6;
}

.table tbody tr:nth-of-type(odd) {
    background-color: white;
}


/* .table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(0, 0, 0);
} */


/* .input{
    text-decoration: none;
} */

.input_field {
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    text-align: center;
    font-size: 0.8em;
    /* border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; */
    outline: none;
    background: transparent;
    text-decoration: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}