* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/images/bcgd.jpg');
    background-size: cover;
    height: 400%;
}

.dhinchak {
    padding-bottom: 19px;
    font-size: large;
}

.choice-container {
    display: flex;
    margin-bottom: 0.2rem;
    width: 100%;
    font-size: 1rem;
    border: 0.1rem;
    border-radius: 15px;
    background-color: white;
}

.options {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 15px;
    border: 0;
    outline: none;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15PX;
    width: 90%;
}

.game {
    /* width: 100%; */
    /* margin-left: 5%; */
    padding-left: 10px;
}

.container {
    margin: 3% 2%;
    background: linear-gradient(90deg, rgba(224, 83, 224, 1) 3%, rgba(0, 212, 255, 1) 39%, rgba(113, 242, 255, 1) 67%, rgba(73, 247, 255, 1) 81%, rgba(0, 215, 255, 1) 94%);
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 35px;
    width: 60%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.main-container {
    margin-left: 23%;
}

.que {
    text-decoration: none;
    background-color: transparent;
    border: 0;
    color: rgb(0, 0, 0);
    outline: none;
    /* padding-right: 75px; */
    margin-right: 10%;
    padding-bottom: 20px;
    font-size: 1.3em;
    width: 100%;
    height: 20%;
    resize: none;
}

.button {
    /* background: rgb(224,83,224); */
    /* background: linear-gradient(90deg, rgba(224,83,224,1) 3%, rgba(0,212,255,1) 39%, rgba(113,242,255,1) 67%, rgba(73,247,255,1) 81%, rgba(0,215,255,1) 94%); */
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    color: rgb(0, 0, 0);
    width: 20%;
    padding: 20px;
    /* margin: 2%; */
    margin-bottom: 6%;
    margin-top: 4%;
    border-radius: 20px;
    margin-right: 32%;
    border: none;
    font-size: large;
    font-weight: bold;
}