 * {
     margin: 0;
     padding: 0;
     font-family: sans-seriff;
 }
 
 .hello {
     height: 100%;
     width: 100%;
     background-image: url('/images/bcgd.jpg');
     background-position: center;
     background-size: cover;
     position: absolute;
 }
 
 .formbox {
     width: 370px;
     height: 320px;
     position: relative;
     margin: 3% auto;
     background: #fff;
     padding: 5px;
     border-radius: 30px;
     overflow: hidden;
 }
 
 .buttonbox {
     width: 220px;
     margin: 35px auto;
     position: relative;
     /* box-shadow: 0 0 20px 10px #ff61241f; */
     border-radius: 30px;
     font-size: 2em;
 }
 /* .toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
} */
 
 #btn {
     top: 0;
     left: 0;
     position: absolute;
     width: 225px;
     height: 100%;
     color: #fff;
     background: linear-gradient(to right, #ff105f, #ffad06);
     border-radius: 30px;
     transition: .5s;
 }
 
 .input-group {
     top: 135px;
     position: absolute;
     width: 280px;
     transition: .5s;
 }
 
 .input_field {
     width: 100%;
     padding: 10px 0;
     margin: 5px 0;
     border-top: 0;
     border-left: 0;
     border-right: 0;
     border-bottom: 1 px solid #999;
     outline: none;
     background: transparent;
 }
 
 .submit-btn {
     color: #fff;
     padding: 10px 30px;
     cursor: pointer;
     display: block;
     margin: 15%;
     margin-left: 30%;
     background: linear-gradient(to right, #ff105f, #ffad06);
     border: 0;
     outline: none;
     border-radius: 30px;
 }
 
 #login {
     left: 50px;
 }
 
 #register {
     left: 450px;
 }